{% extends "base.html" %}

{% block main %}
<div class="col-md-6 col-xs-3">
<form name="contactform" action="" method="post" class="form-horizontal" role="form">
    <h1>Add New Category</h1>
    {% csrf_token %}
    <!--{# {{ form.as_p }} #}-->
    {% for field in form %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
    <input class="btn btn-primary" type="submit" name="submit" value="Save"/>
</form>
</div>
{% endblock %}