{% extends "base.html" %}

{% block title %} Homepage {% endblock %}

{% block main %}
    <div class="container">

      {% include 'navbar.html' %}


      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Marketing stuff!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
      </div>

      
      <!--{% for category in categories %}-->
      <!--<div class="dropdown"> -->
        <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> {{ category.name }} <span class="caret"{}></span> </button>-->
        <!--{% if category.children.count %}-->
        <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
          <!--{% for cat in category.children.all %}-->
          <!--<li><a href="">{{ cat.name }}</a></li>-->
          <!--{% endfor %}-->
        <!--</ul> -->
        <!--{% endif %}-->
      <!--</div>-->
      <!--{% endfor %}-->
      
      <ul id="products">
        <li> All Products</li>
      </ul>


      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $.get('/products')
    .done(function(data) {
      $.each(data, function(idx, item) {
        var _html = '<li><strong>' + item.name + '</strong>';
        _html += ' (<i>' + item.created_on + '</i>)';
        $('#products').append(_html);
      });
    }).fail(function(err) {
      $('#products').html($('<li>No Result Found</li>'));
    });
    </script>
    
    {% endblock %}